In [ ]:
!pip install pyspark sparksql-magic "u8darts[pmdarima]"

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting sparksql-magic
  Downloading sparksql_magic-0.0.3-py36-none-any.whl (4.3 kB)
Collecting u8darts[pmdarima]
  Downloading u8darts-0.27.0-py3-none-any.whl (814 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 814.5/814.5 kB 55.1 MB/s eta 0:00:00
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: ipython>=7.4.0 in /usr/local/lib/python3.10/dist-packages (from sparksql-magic) (7.34.0)
WARNING: u8darts 0.27.0 does not provide the extra 'pmdarima'
Requirement already satisfied: holidays>=0.11.1 in /usr/local/lib/python3.10/dist-packages (from u8darts[pmdarima]) (0.36)
Requirement already satisfied: joblib>=0.16.0 in /usr/local/lib/python3.10/dist-packages (from u8darts[pmdarima]) (1.3.2)
Requirement already satisfied: matplotlib>=3.3.0 in /usr/local/lib/python3.10/dist-packages (from u8darts[pmdarima]) (3.7.1)
Collecting nfoursid>=1.0.0 (from u8darts[pmdarima])
  Downloading nfoursid-1.0.1-py3-none-any.whl (16 kB)
Requirement already satisfied: numpy>=1.19.0 in /usr/local/lib/python3.10/dist-packages (from u8darts[pmdarima]) (1.23.5)
Collecting pmdarima>=1.8.0 (from u8darts[pmdarima])
  Downloading pmdarima-2.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_28_x86_64.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 4.5 MB/s eta 0:00:00
Collecting pyod>=0.9.5 (from u8darts[pmdarima])
  Downloading pyod-1.1.2.tar.gz (160 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 160.5/160.5 kB 20.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.10/dist-packages (from u8darts[pmdarima]) (2.31.0)
Requirement already satisfied: scikit-learn>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from u8darts[pmdarima]) (1.2.2)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from u8darts[pmdarima]) (1.11.3)
Collecting shap>=0.40.0 (from u8darts[pmdarima])
  Downloading shap-0.43.0-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (532 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 532.9/532.9 kB 50.5 MB/s eta 0:00:00
Collecting statsforecast>=1.4 (from u8darts[pmdarima])
  Downloading statsforecast-1.6.0-py3-none-any.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 110.9/110.9 kB 15.9 MB/s eta 0:00:00
Requirement already satisfied: statsmodels>=0.14.0 in /usr/local/lib/python3.10/dist-packages (from u8darts[pmdarima]) (0.14.0)
Collecting tbats>=1.1.0 (from u8darts[pmdarima])
  Downloading tbats-1.1.3-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.0/44.0 kB 7.8 MB/s eta 0:00:00
Requirement already satisfied: tqdm>=4.60.0 in /usr/local/lib/python3.10/dist-packages (from u8darts[pmdarima]) (4.66.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from u8darts[pmdarima]) (4.5.0)
Requirement already satisfied: xarray>=0.17.0 in /usr/local/lib/python3.10/dist-packages (from u8darts[pmdarima]) (2023.7.0)
Requirement already satisfied: xgboost>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from u8darts[pmdarima]) (2.0.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.10/dist-packages (from u8darts[pmdarima]) (1.5.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from holidays>=0.11.1->u8darts[pmdarima]) (2.8.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.4.0->sparksql-magic) (67.7.2)
Collecting jedi>=0.16 (from ipython>=7.4.0->sparksql-magic)
  Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 82.6 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=7.4.0->sparksql-magic) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=7.4.0->sparksql-magic) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.4.0->sparksql-magic) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.4.0->sparksql-magic) (3.0.41)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=7.4.0->sparksql-magic) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=7.4.0->sparksql-magic) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=7.4.0->sparksql-magic) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.4.0->sparksql-magic) (4.8.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.3.0->u8darts[pmdarima]) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.3.0->u8darts[pmdarima]) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.3.0->u8darts[pmdarima]) (4.44.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.3.0->u8darts[pmdarima]) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.3.0->u8darts[pmdarima]) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.3.0->u8darts[pmdarima]) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.3.0->u8darts[pmdarima]) (3.1.1)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->u8darts[pmdarima]) (2023.3.post1)
Requirement already satisfied: Cython!=0.29.18,!=0.29.31,>=0.29 in /usr/local/lib/python3.10/dist-packages (from pmdarima>=1.8.0->u8darts[pmdarima]) (3.0.5)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from pmdarima>=1.8.0->u8darts[pmdarima]) (2.0.7)
Requirement already satisfied: numba>=0.51 in /usr/local/lib/python3.10/dist-packages (from pyod>=0.9.5->u8darts[pmdarima]) (0.58.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from pyod>=0.9.5->u8darts[pmdarima]) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.22.0->u8darts[pmdarima]) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.22.0->u8darts[pmdarima]) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.22.0->u8darts[pmdarima]) (2023.7.22)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.0.1->u8darts[pmdarima]) (3.2.0)
Collecting slicer==0.0.7 (from shap>=0.40.0->u8darts[pmdarima])
  Downloading slicer-0.0.7-py3-none-any.whl (14 kB)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.10/dist-packages (from shap>=0.40.0->u8darts[pmdarima]) (2.2.1)
Requirement already satisfied: polars in /usr/local/lib/python3.10/dist-packages (from statsforecast>=1.4->u8darts[pmdarima]) (0.17.3)
Collecting fugue>=0.8.1 (from statsforecast>=1.4->u8darts[pmdarima])
  Downloading fugue-0.8.7-py3-none-any.whl (279 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 279.8/279.8 kB 36.5 MB/s eta 0:00:00
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.14.0->u8darts[pmdarima]) (0.5.3)
Collecting triad>=0.9.3 (from fugue>=0.8.1->statsforecast>=1.4->u8darts[pmdarima])
  Downloading triad-0.9.3-py3-none-any.whl (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.4/60.4 kB 8.6 MB/s eta 0:00:00
Collecting adagio>=0.2.4 (from fugue>=0.8.1->statsforecast>=1.4->u8darts[pmdarima])
  Downloading adagio-0.2.4-py3-none-any.whl (26 kB)
Collecting qpd>=0.4.4 (from fugue>=0.8.1->statsforecast>=1.4->u8darts[pmdarima])
  Downloading qpd-0.4.4-py3-none-any.whl (169 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 169.2/169.2 kB 28.4 MB/s eta 0:00:00
Collecting fugue-sql-antlr>=0.1.6 (from fugue>=0.8.1->statsforecast>=1.4->u8darts[pmdarima])
  Downloading fugue-sql-antlr-0.1.8.tar.gz (154 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.7/154.7 kB 27.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: sqlglot in /usr/local/lib/python3.10/dist-packages (from fugue>=0.8.1->statsforecast>=1.4->u8darts[pmdarima]) (17.16.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from fugue>=0.8.1->statsforecast>=1.4->u8darts[pmdarima]) (3.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=7.4.0->sparksql-magic) (0.8.3)
Requirement already satisfied: llvmlite<0.42,>=0.41.0dev0 in /usr/local/lib/python3.10/dist-packages (from numba>=0.51->pyod>=0.9.5->u8darts[pmdarima]) (0.41.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=7.4.0->sparksql-magic) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.4.0->sparksql-magic) (0.2.10)
Collecting antlr4-python3-runtime<4.12 (from fugue-sql-antlr>=0.1.6->fugue>=0.8.1->statsforecast>=1.4->u8darts[pmdarima])
  Downloading antlr4_python3_runtime-4.11.1-py3-none-any.whl (144 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 144.2/144.2 kB 23.0 MB/s eta 0:00:00
Requirement already satisfied: pyarrow>=6.0.1 in /usr/local/lib/python3.10/dist-packages (from triad>=0.9.3->fugue>=0.8.1->statsforecast>=1.4->u8darts[pmdarima]) (9.0.0)
Requirement already satisfied: fsspec>=2022.5.0 in /usr/local/lib/python3.10/dist-packages (from triad>=0.9.3->fugue>=0.8.1->statsforecast>=1.4->u8darts[pmdarima]) (2023.6.0)
Collecting fs (from triad>=0.9.3->fugue>=0.8.1->statsforecast>=1.4->u8darts[pmdarima])
  Downloading fs-2.4.16-py2.py3-none-any.whl (135 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 135.3/135.3 kB 20.5 MB/s eta 0:00:00
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->fugue>=0.8.1->statsforecast>=1.4->u8darts[pmdarima]) (2.1.3)
Requirement already satisfied: appdirs~=1.4.3 in /usr/local/lib/python3.10/dist-packages (from fs->triad>=0.9.3->fugue>=0.8.1->statsforecast>=1.4->u8darts[pmdarima]) (1.4.4)
Building wheels for collected packages: pyspark, pyod, fugue-sql-antlr
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=56078b8848949e649048f47a86a3441bf70ddc799c367eb23d70aff5b435d5cb
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
  Building wheel for pyod (setup.py) ... done
  Created wheel for pyod: filename=pyod-1.1.2-py3-none-any.whl size=190289 sha256=65d388dc34e85371b116d1a168c01e1b4808692a93518e6c2459d6fe21779573
  Stored in directory: /root/.cache/pip/wheels/81/1b/61/aa85b78c3c0c8871f4231e3f4a03bb23cecb7db829498380ee
  Building wheel for fugue-sql-antlr (setup.py) ... done
  Created wheel for fugue-sql-antlr: filename=fugue_sql_antlr-0.1.8-py3-none-any.whl size=158200 sha256=4133d5f14a2540dbe422a22bdd8a2ca269b317cb14650316698bcf107cc6ec7c
  Stored in directory: /root/.cache/pip/wheels/a4/2b/3e/8ac985ad100a8f27de940864344fe14f47bc3d2fed7f29bf70
Successfully built pyspark pyod fugue-sql-antlr
Installing collected packages: antlr4-python3-runtime, slicer, pyspark, jedi, fs, triad, sparksql-magic, shap, pyod, nfoursid, pmdarima, fugue-sql-antlr, adagio, tbats, qpd, fugue, statsforecast, u8darts
Successfully installed adagio-0.2.4 antlr4-python3-runtime-4.11.1 fs-2.4.16 fugue-0.8.7 fugue-sql-antlr-0.1.8 jedi-0.19.1 nfoursid-1.0.1 pmdarima-2.0.4 pyod-1.1.2 pyspark-3.5.0 qpd-0.4.4 shap-0.43.0 slicer-0.0.7 sparksql-magic-0.0.3 statsforecast-1.6.0 tbats-1.1.3 triad-0.9.3 u8darts-0.27.0

In [ ]:
!wget --load-cookies /tmp/cookies.txt "https://docs.google.com/uc?export=download&confirm=$(wget --quiet --save-cookies /tmp/cookies.txt --keep-session-cookies --no-check-certificate 'https://docs.google.com/uc?export=download&id=1VDWxdHrYNBnLs4_7lb7xeiPi-RsJmOkP' -O- | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1\n/p')&id=1VDWxdHrYNBnLs4_7lb7xeiPi-RsJmOkP" -O dataset.csv && rm -rf /tmp/cookies.txt

--2023-11-23 12:29:39--  https://docs.google.com/uc?export=download&confirm=t&id=1VDWxdHrYNBnLs4_7lb7xeiPi-RsJmOkP
Resolving docs.google.com (docs.google.com)... 142.251.31.101, 142.251.31.113, 142.251.31.100, ...
Connecting to docs.google.com (docs.google.com)|142.251.31.101|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-14-7o-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/648eijgqohtrguu01ls9aufc2hpscldo/1700742525000/07665009615024983083/*/1VDWxdHrYNBnLs4_7lb7xeiPi-RsJmOkP?e=download&uuid=42a10583-aa63-4d11-8acc-fa2d2da39d71 [following]
Warning: wildcards not supported in HTTP.
--2023-11-23 12:29:39--  https://doc-14-7o-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/648eijgqohtrguu01ls9aufc2hpscldo/1700742525000/07665009615024983083/*/1VDWxdHrYNBnLs4_7lb7xeiPi-RsJmOkP?e=download&uuid=42a10583-aa63-4d11-8acc-fa2d2da39d71
Resolving doc-14-7o-docs.googleusercontent.com (doc-14-7o-docs.googleusercontent.com)... 108.177.119.132, 2a00:1450:4013:c00::84
Connecting to doc-14-7o-docs.googleusercontent.com (doc-14-7o-docs.googleusercontent.com)|108.177.119.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 154767109 (148M) [text/csv]
Saving to: ‘dataset.csv’

dataset.csv         100%[===================>] 147.60M   129MB/s    in 1.1s

2023-11-23 12:29:40 (129 MB/s) - ‘dataset.csv’ saved [154767109/154767109]

In [ ]:
%load_ext sparksql_magic

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, substring, lit, to_date, trim
from pyspark.sql import functions as f
import pandas as pd

spark = SparkSession.builder.appName("Hackaton").getOrCreate()

## National Data

In [ ]:
df = spark.read.csv("dataset.csv",  header=True, inferSchema=True, sep=";")

df_leitos = spark.read.csv("Leitos_2023.csv", header=True, inferSchema=True)\
  .select("LEITOS_EXISTENTES", "UTI_TOTAL_EXIST", "UTI_TOTAL_SUS", "COMP", "UF", "MUNICIPIO", "CNES")

df_leitos_2022 = spark.read.csv("Leitos_2022.csv", header=True, inferSchema=True)\
  .withColumnRenamed("LEITOS EXISTENTE", "LEITOS_EXISTENTES")\
  .withColumnRenamed("UTI TOTAL - EXIST", "UTI_TOTAL_EXIST")\
  .withColumnRenamed("UTI TOTAL - SUS", "UTI_TOTAL_SUS")\
  .select("LEITOS_EXISTENTES", "UTI_TOTAL_EXIST", "UTI_TOTAL_SUS", "COMP", "UF", "MUNICIPIO", "CNES")

df_leitos_2021 = spark.read.csv("Leitos_2021.csv", header=True, inferSchema=True)\
  .withColumnRenamed("LEITOS EXISTENTE", "LEITOS_EXISTENTES")\
  .withColumnRenamed("UTI TOTAL - EXIST", "UTI_TOTAL_EXIST")\
  .withColumnRenamed("UTI TOTAL - SUS", "UTI_TOTAL_SUS")\
  .select("LEITOS_EXISTENTES", "UTI_TOTAL_EXIST", "UTI_TOTAL_SUS", "COMP", "UF", "MUNICIPIO", "CNES")

df_leitos_2020 = spark.read.csv("Leitos_2020.csv", header=True, inferSchema=True)\
  .withColumnRenamed("LEITOS EXISTENTE", "LEITOS_EXISTENTES")\
  .withColumnRenamed("UTI TOTAL - EXIST", "UTI_TOTAL_EXIST")\
  .withColumnRenamed("UTI TOTAL - SUS", "UTI_TOTAL_SUS")\
  .select("LEITOS_EXISTENTES", "UTI_TOTAL_EXIST", "UTI_TOTAL_SUS", "COMP", "UF", "MUNICIPIO", "CNES")

df_leitos_2019 = spark.read.csv("Leitos_2019.csv", header=True, inferSchema=True)\
  .withColumnRenamed("LEITOS EXISTENTE", "LEITOS_EXISTENTES")\
  .withColumnRenamed("UTI TOTAL - EXIST", "UTI_TOTAL_EXIST")\
  .withColumnRenamed("UTI TOTAL - SUS", "UTI_TOTAL_SUS")\
  .select("LEITOS_EXISTENTES", "UTI_TOTAL_EXIST", "UTI_TOTAL_SUS", "COMP", "UF", "MUNICIPIO", "CNES")

all_leitos = df_leitos.unionByName(df_leitos_2022)\
  .unionByName(df_leitos_2021)\
  .unionByName(df_leitos_2020)\
  .unionByName(df_leitos_2019)\
  .withColumn("YEAR", substring(col("COMP"), 1,4))\
  .withColumn("date", to_date(col("COMP"), 'yyyyMM'))

df_municipios = spark.read.csv("municipios.csv", header=True, inferSchema=True)

df_dados_mensais = spark.read.csv("mensal.csv", header=True, inferSchema=True)

new_columns = [col(column).alias(column.strip()) for column in df_dados_mensais.columns]
df_dados_mensais = df_dados_mensais.select(*new_columns).drop("INDEX_IGNORE")

In [ ]:
all_leitos.createOrReplaceTempView("leitos_data")
df.createOrReplaceTempView("hackaton_data")
df_municipios.createOrReplaceTempView("municipios")
df_dados_mensais.createOrReplaceTempView("mensal")

In [ ]:
all_leitos.show()

+-----------------+---------------+-------------+------+---+--------------------+----+----+----------+
|LEITOS_EXISTENTES|UTI_TOTAL_EXIST|UTI_TOTAL_SUS|  COMP| UF|           MUNICIPIO|CNES|YEAR|      date|
+-----------------+---------------+-------------+------+---+--------------------+----+----+----------+
|               64|              0|            0|202301| PE|CABO DE SANTO AGO...|  27|2023|2023-01-01|
|               19|              0|            0|202301| PE|CABO DE SANTO AGO...|  35|2023|2023-01-01|
|               18|              0|            0|202301| PE|CABO DE SANTO AGO...|  94|2023|2023-01-01|
|               59|              5|            0|202301| PE|CABO DE SANTO AGO...| 183|2023|2023-01-01|
|               47|             10|            0|202301| PE|CABO DE SANTO AGO...| 221|2023|2023-01-01|
|              427|             20|           20|202301| PE|              RECIFE| 396|2023|2023-01-01|
|              410|             59|           59|202301| PE|              RECIFE| 418|2023|2023-01-01|
|              630|             70|           70|202301| PE|              RECIFE| 426|2023|2023-01-01|
|             1188|            145|          141|202301| PE|              RECIFE| 434|2023|2023-01-01|
|              488|             60|           37|202301| PE|              RECIFE| 477|2023|2023-01-01|
|               32|              0|            0|202301| PE|              RECIFE| 485|2023|2023-01-01|
|                6|              0|            0|202301| PE|              RECIFE| 531|2023|2023-01-01|
|              270|             43|           22|202301| PE|              RECIFE| 566|2023|2023-01-01|
|              224|             35|           35|202301| PE|              RECIFE| 582|2023|2023-01-01|
|               12|              0|            0|202301| PE|              RECIFE| 604|2023|2023-01-01|
|              830|             61|           53|202301| PE|              RECIFE| 655|2023|2023-01-01|
|               65|              0|            0|202301| PE|              RECIFE| 671|2023|2023-01-01|
|               44|              0|            0|202301| PE|              RECIFE| 701|2023|2023-01-01|
|               67|              4|            4|202301| PE|              RECIFE| 809|2023|2023-01-01|
|               87|             10|           10|202301| PE|              RECIFE| 981|2023|2023-01-01|
+-----------------+---------------+-------------+------+---+--------------------+----+----+----------+
only showing top 20 rows

In [ ]:
distinct_municipios = spark.sql("""
  select distinct ID_MUNICIP
  from hackaton_data
""")

In [ ]:
main_df = spark.sql("""
with step1 as (
  select
    SG_UF_NOT UF,ID_MUNICIP,
    count(distinct CO_UNI_NOT) UNIDADES
  from hackaton_data
    where ID_MUNICIP is not null and CO_UNI_NOT is not null
  group by 1,2
  order by 1
  ),

  leitos_aggregated as (
  select
    UF, MUNICIPIO,
    sum(LEITOS_EXISTENTES) LEITOS_EXISTENTES,
    sum(UTI_TOTAL_SUS) UTI_TOTAL_SUS,
    sum(UTI_TOTAL_EXIST) UTI_TOTAL_EXIST
  from leitos_data
  where YEAR = '2023'
  group by 1,2
  ),

 muni_changed as (
    select
      TRIM(UPPER(uf_code)) UF,
      CASE
        WHEN TRIM(UPPER(no_accents)) = 'ITAPAJE' THEN 'ITAPAGE'
        WHEN TRIM(UPPER(no_accents)) = 'SAO JOAO DEL-REI' THEN 'SAO JOAO DEL REI'
        WHEN TRIM(UPPER(no_accents)) = 'ELDORADO DO CARAJAS' THEN 'ELDORADO DOS CARAJAS'
        WHEN TRIM(UPPER(no_accents)) = 'BELEM DO SAO FRANCISCO' THEN 'BELEM DE SAO FRANCISCO'
        WHEN TRIM(UPPER(no_accents)) = 'PARATY' THEN 'PARATI'
        WHEN TRIM(UPPER(no_accents)) = 'AÇU' THEN 'ACU'
        WHEN TRIM(UPPER(no_accents)) = "SANT'ANA DO LIVRAMENTO" THEN 'SANTANA DO LIVRAMENTO'
        WHEN TRIM(UPPER(no_accents)) = 'MOGI MIRIM' THEN 'MOJI MIRIM'
        ELSE TRIM(UPPER(no_accents))
      END as MUNICIPIO,
      pop_21 POPULATION
    from municipios m
  ),

  muni_used as (
    select * from muni_changed m
    left semi join step1 h
    on TRIM(UPPER(m.UF)) = TRIM(UPPER(h.UF)) and TRIM(UPPER(h.ID_MUNICIP)) = TRIM(UPPER(m.MUNICIPIO))
  )

  select s.*,
  mu.POPULATION,
  coalesce(l.LEITOS_EXISTENTES, 0) LEITOS_EXISTENTES,
  coalesce(l.UTI_TOTAL_SUS, 0) UTI_TOTAL_SUS,
  coalesce(l.UTI_TOTAL_EXIST,  0) UTI_TOTAL_EXIST
  from step1 s

  left join muni_used mu
  on TRIM(UPPER(mu.UF)) = TRIM(UPPER(s.UF)) and TRIM(UPPER(s.ID_MUNICIP)) = TRIM(UPPER(mu.MUNICIPIO))

  left join leitos_aggregated l
  on TRIM(UPPER(s.UF)) = TRIM(UPPER(l.UF)) and TRIM(UPPER(s.ID_MUNICIP)) = TRIM(UPPER(l.MUNICIPIO))

  order by UF
""")

In [ ]:
main_df.toPandas().to_csv("data_2023_v1.csv", index=False)

In [ ]:
year_diffs = spark.sql("""
with step1 as (
  select
    SG_UF_NOT UF,ID_MUNICIP,
    count(distinct CO_UNI_NOT) UNIDADES
  from hackaton_data
    where ID_MUNICIP is not null and CO_UNI_NOT is not null
  group by 1,2
  order by 1
  ),

  leitos_aggregated as (
  select
    UF, MUNICIPIO,
    sum(LEITOS_EXISTENTES) LEITOS_EXISTENTES,
    sum(UTI_TOTAL_SUS) UTI_TOTAL_SUS,
    sum(UTI_TOTAL_EXIST) UTI_TOTAL_EXIST
  from leitos_data
  where YEAR = '2023'
  group by 1,2
  ),

 muni_changed as (
    select
      TRIM(UPPER(uf_code)) UF,
      CASE
        WHEN TRIM(UPPER(no_accents)) = 'ITAPAJE' THEN 'ITAPAGE'
        WHEN TRIM(UPPER(no_accents)) = 'SAO JOAO DEL-REI' THEN 'SAO JOAO DEL REI'
        WHEN TRIM(UPPER(no_accents)) = 'ELDORADO DO CARAJAS' THEN 'ELDORADO DOS CARAJAS'
        WHEN TRIM(UPPER(no_accents)) = 'BELEM DO SAO FRANCISCO' THEN 'BELEM DE SAO FRANCISCO'
        WHEN TRIM(UPPER(no_accents)) = 'PARATY' THEN 'PARATI'
        WHEN TRIM(UPPER(no_accents)) = 'AÇU' THEN 'ACU'
        WHEN TRIM(UPPER(no_accents)) = "SANT'ANA DO LIVRAMENTO" THEN 'SANTANA DO LIVRAMENTO'
        WHEN TRIM(UPPER(no_accents)) = 'MOGI MIRIM' THEN 'MOJI MIRIM'
        ELSE TRIM(UPPER(no_accents))
      END as MUNICIPIO,
      pop_21 POPULATION
    from municipios m
  ),

  muni_used as (
    select * from muni_changed m
    left semi join step1 h
    on TRIM(UPPER(m.UF)) = TRIM(UPPER(h.UF)) and TRIM(UPPER(h.ID_MUNICIP)) = TRIM(UPPER(m.MUNICIPIO))
  )

  select s.*,
  mu.POPULATION,
  coalesce(l.LEITOS_EXISTENTES, 0) LEITOS_EXISTENTES,
  coalesce(l.UTI_TOTAL_SUS, 0) UTI_TOTAL_SUS,
  coalesce(l.UTI_TOTAL_EXIST,  0) UTI_TOTAL_EXIST
  from step1 s

  left join muni_used mu
  on TRIM(UPPER(mu.UF)) = TRIM(UPPER(s.UF)) and TRIM(UPPER(s.ID_MUNICIP)) = TRIM(UPPER(mu.MUNICIPIO))

  left join leitos_aggregated l
  on TRIM(UPPER(s.UF)) = TRIM(UPPER(l.UF)) and TRIM(UPPER(s.ID_MUNICIP)) = TRIM(UPPER(l.MUNICIPIO))

  order by UF
""")

### SQL Query

In [ ]:
%%sparksql %%sql
create or replace temporary view first_table as
with step1 as (
  select
    SG_UF_NOT UF,ID_MUNICIP,
    count(distinct CO_UNI_NOT) UNIDADES
  from hackaton_data
    where ID_MUNICIP is not null and SUPORT_VEN is not null
    and CLASSI_FIN in (4,5)
  group by 1,2
  order by 1
  ),

  leitos_aggregated as (
  select
    UF, MUNICIPIO,
    sum(LEITOS_EXISTENTES) LEITOS_EXISTENTES,
    sum(UTI_TOTAL_SUS) UTI_TOTAL_SUS,
    sum(UTI_TOTAL_EXIST) UTI_TOTAL_EXIST
  from leitos_data
  group by 1,2
  ),

  leitos_2022_agg as (
  select
    UF, MUNICIPIO,
    sum(LEITOS_EXISTENTES) LEITOS_EXISTENTES,
    sum(UTI_TOTAL_SUS) UTI_TOTAL_SUS,
    sum(UTI_TOTAL_EXIST) UTI_TOTAL_EXIST
  from leitos_2022_data
  group by 1,2
  ),

 muni_changed as (
    select
      TRIM(UPPER(uf_code)) UF,
      CASE
        WHEN TRIM(UPPER(no_accents)) = 'ITAPAJE' THEN 'ITAPAGE'
        WHEN TRIM(UPPER(no_accents)) = 'SAO JOAO DEL-REI' THEN 'SAO JOAO DEL REI'
        WHEN TRIM(UPPER(no_accents)) = 'ELDORADO DO CARAJAS' THEN 'ELDORADO DOS CARAJAS'
        WHEN TRIM(UPPER(no_accents)) = 'BELEM DO SAO FRANCISCO' THEN 'BELEM DE SAO FRANCISCO'
        WHEN TRIM(UPPER(no_accents)) = 'PARATY' THEN 'PARATI'
        WHEN TRIM(UPPER(no_accents)) = 'AÇU' THEN 'ACU'
        WHEN TRIM(UPPER(no_accents)) = "SANT'ANA DO LIVRAMENTO" THEN 'SANTANA DO LIVRAMENTO'
        WHEN TRIM(UPPER(no_accents)) = 'MOGI MIRIM' THEN 'MOJI MIRIM'
        ELSE TRIM(UPPER(no_accents))
      END as MUNICIPIO,
      pop_21 POPULATION
    from municipios m
  ),

  muni_used as (
    select * from muni_changed m
    left semi join step1 h
    on TRIM(UPPER(m.UF)) = TRIM(UPPER(h.UF)) and TRIM(UPPER(h.ID_MUNICIP)) = TRIM(UPPER(m.MUNICIPIO))
  )

  select s.*,
  mu.POPULATION,
  coalesce(l.LEITOS_EXISTENTES, o.LEITOS_EXISTENTES, 0) LEITOS_EXISTENTES,
  coalesce(l.UTI_TOTAL_SUS, o.UTI_TOTAL_SUS, 0) UTI_TOTAL_SUS,
  coalesce(l.UTI_TOTAL_EXIST, o.UTI_TOTAL_EXIST, 0) UTI_TOTAL_EXIST
  from step1 s

  left join muni_used mu
  on TRIM(UPPER(mu.UF)) = TRIM(UPPER(s.UF)) and TRIM(UPPER(s.ID_MUNICIP)) = TRIM(UPPER(mu.MUNICIPIO))

  left join leitos_aggregated l
  on TRIM(UPPER(s.UF)) = TRIM(UPPER(l.UF)) and TRIM(UPPER(s.ID_MUNICIP)) = TRIM(UPPER(l.MUNICIPIO))

  left join leitos_2022_agg o
  on TRIM(UPPER(s.UF)) = TRIM(UPPER(o.UF)) and TRIM(UPPER(s.ID_MUNICIP)) = TRIM(UPPER(o.MUNICIPIO))

  order by UF

capture dataframe to local variable `%%sql`

In [ ]:
%%sparksql %%sql
create or replace temporary view leitos_by_years as
WITH leitos_aggregated AS (
  SELECT
    UF, MUNICIPIO, date,
    SUM(LEITOS_EXISTENTES) LEITOS_EXISTENTES,
    SUM(UTI_TOTAL_SUS) UTI_TOTAL_SUS,
    SUM(UTI_TOTAL_EXIST) UTI_TOTAL_EXIST
  FROM leitos_data
  GROUP BY 1,2,3
),

muni_changed AS (
  SELECT
    TRIM(UPPER(uf_code)) UF,
    CASE
      WHEN TRIM(UPPER(no_accents)) = 'ITAPAJE' THEN 'ITAPAGE'
      WHEN TRIM(UPPER(no_accents)) = 'SAO JOAO DEL-REI' THEN 'SAO JOAO DEL REI'
      WHEN TRIM(UPPER(no_accents)) = 'ELDORADO DO CARAJAS' THEN 'ELDORADO DOS CARAJAS'
      WHEN TRIM(UPPER(no_accents)) = 'BELEM DO SAO FRANCISCO' THEN 'BELEM DE SAO FRANCISCO'
      WHEN TRIM(UPPER(no_accents)) = 'PARATY' THEN 'PARATI'
      WHEN TRIM(UPPER(no_accents)) = 'AÇU' THEN 'ACU'
      WHEN TRIM(UPPER(no_accents)) = "SANT'ANA DO LIVRAMENTO" THEN 'SANTANA DO LIVRAMENTO'
      WHEN TRIM(UPPER(no_accents)) = 'MOGI MIRIM' THEN 'MOJI MIRIM'
      ELSE TRIM(UPPER(no_accents))
    END AS MUNICIPIO,
    pop_21 POPULATION
  FROM municipios m
),

muni_used AS (
  SELECT * FROM muni_changed m
  LEFT SEMI JOIN leitos_aggregated h
  ON TRIM(UPPER(m.UF)) = TRIM(UPPER(h.UF)) AND TRIM(UPPER(h.MUNICIPIO)) = TRIM(UPPER(m.MUNICIPIO))
),

leitos_with_diff AS (
  SELECT
    s.date, s.UF, s.MUNICIPIO,
    mu.POPULATION,
    COALESCE(s.LEITOS_EXISTENTES, 0) LEITOS_EXISTENTES,
    COALESCE(s.UTI_TOTAL_SUS, 0) UTI_TOTAL_SUS,
    COALESCE(s.UTI_TOTAL_EXIST,  0) UTI_TOTAL_EXIST
    --COALESCE(s.LEITOS_EXISTENTES, 0) - LAG(COALESCE(s.LEITOS_EXISTENTES, 0), 1) OVER (PARTITION BY s.UF, s.MUNICIPIO ORDER BY s.YEAR) AS LEITOS_DIFF
  FROM leitos_aggregated s
  LEFT JOIN muni_used mu
  ON TRIM(UPPER(mu.UF)) = TRIM(UPPER(s.UF)) AND TRIM(UPPER(s.MUNICIPIO)) = TRIM(UPPER(mu.MUNICIPIO))
)

SELECT date, UF, MUNICIPIO,
  POPULATION,LEITOS_EXISTENTES,	UTI_TOTAL_SUS, UTI_TOTAL_EXIST
FROM leitos_with_diff
WHERE UF = 'DF'
ORDER BY MUNICIPIO, date

capture dataframe to local variable `%%sql`

In [ ]:
%%sparksql %%sql
select * from leitos_by_years order by date

capture dataframe to local variable `%%sql`
only showing top 20 row(s)

In [ ]:
import plotly.express as px

In [ ]:
%%sparksql %%sql
--create or replace temporary view main_data as
with step1 as (
select
  SG_UF_NOT UF,ID_MUNICIP, CO_UNI_NOT CNES,
  count(distinct CO_UNI_NOT) UNIDADES,
  count(*) PACIENTES,
  sum(
    case when EVOLUCAO not in (1,9) then 1
    else 0 end
  ) OBITOS,
  sum(
    case when (SUPORT_VEN not in (1,2) and EVOLUCAO not in (1,9)) then 1
    else 0 end
  ) OSS,
  OBITOS - OSS OCS
from hackaton_data
  where ID_MUNICIP is not null and SUPORT_VEN is not null
  and CLASSI_FIN in (4,5)
group by 1,2,3
order by 1
),

leitos_aggregated as (
select
  UF, MUNICIPIO, CNES,
  sum(LEITOS_EXISTENTES) LEITOS_EXISTENTES,
  sum(UTI_TOTAL_SUS) UTI_TOTAL_SUS,
  sum(UTI_TOTAL_EXIST) UTI_TOTAL_EXIST
from leitos_data
where YEAR = 2023
group by 1,2,3
),

brasilia as (
select s.*, l.LEITOS_EXISTENTES, l.UTI_TOTAL_SUS, l.UTI_TOTAL_EXIST
from step1 s
left join leitos_aggregated l
on TRIM(UPPER(s.UF)) = TRIM(UPPER(l.UF)) and TRIM(UPPER(s.ID_MUNICIP)) = TRIM(UPPER(l.MUNICIPIO)) and s.CNES = l.CNES
order by ID_MUNICIP
)

select *
from brasilia
where UF = 'DF'

capture dataframe to local variable `%%sql`
only showing top 20 row(s)

In [ ]:
%%sparksql %%sql
create or replace temporary view leitos_por_cnes as
WITH leitos_aggregated AS (
  SELECT
    UF, MUNICIPIO, date ,CNES,
    SUM(LEITOS_EXISTENTES) LEITOS_EXISTENTES,
    SUM(UTI_TOTAL_SUS) UTI_TOTAL_SUS,
    SUM(UTI_TOTAL_EXIST) UTI_TOTAL_EXIST
  FROM leitos_data
  GROUP BY 1,2,3,4
),

muni_changed AS (
  SELECT
    TRIM(UPPER(uf_code)) UF,
    CASE
      WHEN TRIM(UPPER(no_accents)) = 'ITAPAJE' THEN 'ITAPAGE'
      WHEN TRIM(UPPER(no_accents)) = 'SAO JOAO DEL-REI' THEN 'SAO JOAO DEL REI'
      WHEN TRIM(UPPER(no_accents)) = 'ELDORADO DO CARAJAS' THEN 'ELDORADO DOS CARAJAS'
      WHEN TRIM(UPPER(no_accents)) = 'BELEM DO SAO FRANCISCO' THEN 'BELEM DE SAO FRANCISCO'
      WHEN TRIM(UPPER(no_accents)) = 'PARATY' THEN 'PARATI'
      WHEN TRIM(UPPER(no_accents)) = 'AÇU' THEN 'ACU'
      WHEN TRIM(UPPER(no_accents)) = "SANT'ANA DO LIVRAMENTO" THEN 'SANTANA DO LIVRAMENTO'
      WHEN TRIM(UPPER(no_accents)) = 'MOGI MIRIM' THEN 'MOJI MIRIM'
      ELSE TRIM(UPPER(no_accents))
    END AS MUNICIPIO,
    pop_21 POPULATION
  FROM municipios m
),

muni_used AS (
  SELECT * FROM muni_changed m
  LEFT SEMI JOIN leitos_aggregated h
  ON TRIM(UPPER(m.UF)) = TRIM(UPPER(h.UF)) AND TRIM(UPPER(h.MUNICIPIO)) = TRIM(UPPER(m.MUNICIPIO))
),

leitos_with_diff AS (
  SELECT
    s.date, s.CNES, s.UF, s.MUNICIPIO,
    mu.POPULATION,
    COALESCE(s.LEITOS_EXISTENTES, 0) LEITOS_EXISTENTES,
    COALESCE(s.UTI_TOTAL_SUS, 0) UTI_TOTAL_SUS,
    COALESCE(s.UTI_TOTAL_EXIST,  0) UTI_TOTAL_EXIST
    --COALESCE(s.LEITOS_EXISTENTES, 0) - LAG(COALESCE(s.LEITOS_EXISTENTES, 0), 1) OVER (PARTITION BY s.UF, s.MUNICIPIO ORDER BY s.YEAR) AS LEITOS_DIFF
  FROM leitos_aggregated s
  LEFT JOIN muni_used mu
  ON TRIM(UPPER(mu.UF)) = TRIM(UPPER(s.UF)) AND TRIM(UPPER(s.MUNICIPIO)) = TRIM(UPPER(mu.MUNICIPIO))
)

SELECT date,CNES,LEITOS_EXISTENTES,	UTI_TOTAL_SUS, UTI_TOTAL_EXIST
FROM leitos_with_diff
WHERE UF = 'DF'
ORDER BY CNES

capture dataframe to local variable `%%sql`

In [ ]:
%%sparksql %%sql
create or replace temporary view ocupacao_data as
with step1 as (
select *, CAST(CONCAT(SUBSTRING(DT_INTERNA, 7, 4), '-', SUBSTRING(DT_INTERNA, 4, 2), '-', SUBSTRING(DT_INTERNA, 1, 2)) as DATE) DATA_ATT,DATE(DATE_TRUNC('month',DATA_ATT)) as MONTH, CO_UNI_NOT CNES
from hackaton_data
  where SG_UF_NOT = "DF" and ID_MUNICIP is not null and DT_INTERNA is not null
),

step2 as (
  select *, CAST(CONCAT(SUBSTRING(DT_EVOLUCA, 7, 4), '-', SUBSTRING(DT_EVOLUCA, 4, 2), '-', SUBSTRING(DT_EVOLUCA, 1, 2)) as DATE) DATA_ATT,DATE(DATE_TRUNC('month',DATA_ATT)) as MONTH, CO_UNI_NOT CNES
  from hackaton_data
  where SG_UF_NOT = "DF" and ID_MUNICIP is not null and DT_EVOLUCA is not null
),

entradas_hosp as (
select MONTH, CNES,
COUNT(*) as ENTRADAS_HOSP
from step1
where HOSPITAL = 1
group by 1,2
order by 1 asc
),

saidas_hosp as (
  select MONTH, CNES,
  COUNT(*) as SAIDAS_HOSP
  from step2
  where HOSPITAL = 1
  group by 1,2
  order by 1 asc
),

uti_data1 as (
  select *, CAST(CONCAT(SUBSTRING(DT_ENTUTI, 7, 4), '-', SUBSTRING(DT_ENTUTI, 4, 2), '-', SUBSTRING(DT_ENTUTI, 1, 2)) as DATE) DATA_ATT,DATE(DATE_TRUNC('month',DATA_ATT)) as MONTH, CO_UNI_NOT CNES
  from hackaton_data
  where SG_UF_NOT = "DF" and ID_MUNICIP is not null and DT_ENTUTI is not null
),

uti_data2 as (
  select *, CAST(CONCAT(SUBSTRING(DT_SAIDUTI, 7, 4), '-', SUBSTRING(DT_SAIDUTI, 4, 2), '-', SUBSTRING(DT_SAIDUTI, 1, 2)) as DATE) DATA_ATT,DATE(DATE_TRUNC('month',DATA_ATT)) as MONTH, CO_UNI_NOT CNES
  from hackaton_data
  where SG_UF_NOT = "DF" and ID_MUNICIP is not null and DT_SAIDUTI is not null
),

entradas_uti as (
select MONTH, CNES,
COUNT(*) as ENTRADAS_UTI
from uti_data1
where UTI=1
group by 1,2
order by 1 asc
),

saidas_uti as (
  select MONTH, CNES,
  COUNT(*) as SAIDAS_UTI
  from uti_data2
  where UTI = 1
  group by 1,2
  order by 1 asc
)


select e.*,
  coalesce(s.SAIDAS_HOSP,0) SAIDAS_HOSP,
  coalesce(eu.ENTRADAS_UTI,0) ENTRADAS_UTI,
  coalesce(su.SAIDAS_UTI,0) SAIDAS_UTI
from entradas_hosp e
left join saidas_hosp s
on e.MONTH = s.MONTH and e.CNES  = s.CNES

left join entradas_uti eu
on e.MONTH = eu.MONTH and e.CNES  = eu.CNES

left join saidas_uti su
on e.MONTH = su.MONTH and e.CNES  = su.CNES

capture dataframe to local variable `%%sql`

In [ ]:
%%sparksql %%sql
select * from leitos_por_cnes
where date = '2019-01-01' and CNES = 1120

capture dataframe to local variable `%%sql`

In [ ]:
%%sparksql %%sql
select date(DT), int(CNES) from mensal

capture dataframe to local variable `%%sql`
only showing top 20 row(s)

In [ ]:
%%sparksql %%sql
create or replace temporary view final_df as
select m.*,
  coalesce(l.LEITOS_EXISTENTES,0.0) LEITOS_EXISTENTES,
  coalesce(l.UTI_TOTAL_SUS,0.0) UTI_TOTAL_SUS,
  coalesce(l.UTI_TOTAL_EXIST,0.0) UTI_TOTAL_EXIST
from mensal m
left join leitos_por_cnes l
on l.date = date(m.DT) and l.CNES = int(m.CNES)
order by date

capture dataframe to local variable `%%sql`

In [ ]:
dates = pd.date_range(start='2019-01-01', end='2024-12-01', freq='MS')
covariables = pd.DataFrame({'date': dates})

covariables['inverno'] = 0
covariables.loc[(covariables['date'].dt.month >= 7) & (covariables['date'].dt.month <= 9), 'inverno'] = 1

In [ ]:
covariables

In [ ]:
brasilia_data = spark.table("final_df")\
.withColumn("date", to_date(col("DT")))\
.drop("DT")\
.toPandas()

brasilia_data['date'] = pd.to_datetime(brasilia_data['date'])

In [ ]:
brasilia_data['LEITOS_EXISTENTES'] = brasilia_data['LEITOS_EXISTENTES'].astype('float64')
brasilia_data['UTI_TOTAL_SUS'] = brasilia_data['UTI_TOTAL_SUS'].astype('float64')
brasilia_data['UTI_TOTAL_EXIST'] = brasilia_data['UTI_TOTAL_EXIST'].astype('float64')

brasilia_data['CNES'] = brasilia_data['CNES'].astype('int').astype('str')

brasilia_data.set_index('date', inplace=True)

In [ ]:
brasilia_data.reset_index

In [ ]:
resultados_filtrados = brasilia_data[brasilia_data['CNES'] =='7978642'].sort_values('date')

In [ ]:
resultados_filtrados

,CNES,HOSPITAL,UTI,SURTO_SG,NOSOCOMIAL,AVE_SUINO,FEBRE,TOSSE,GARGANTA,DISPNEIA,...,PNEUMOPATI,IMUNODEPRE,RENAL,OBESIDADE,OUT_MORBI,SUPORT_VEN,LEITOS_EXISTENTES,UTI_TOTAL_SUS,UTI_TOTAL_EXIST,inverno
date,,,,,,,,,,,,,,,,,,,,,
2019-01-01,7978642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,140.0,0.0,36.0,0
2019-02-01,7978642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,140.0,0.0,36.0,0
2019-03-01,7978642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,140.0,0.0,36.0,0
2019-04-01,7978642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,140.0,0.0,36.0,0
2019-05-01,7978642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,140.0,0.0,36.0,0
2019-06-01,7978642,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,0.0,0.0,0.0,0.0,0.0,2.0,140.0,0.0,36.0,0
2019-07-01,7978642,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,140.0,0.0,36.0,1
2019-08-01,7978642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,140.0,0.0,36.0,1
2019-09-01,7978642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,140.0,0.0,36.0,1
2019-10-01,7978642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,140.0,0.0,36.0,0
2019-11-01,7978642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,140.0,0.0,36.0,0
2019-12-01,7978642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,140.0,0.0,36.0,0
2020-01-01,7978642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,140.0,0.0,36.0,0
2020-02-01,7978642,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,140.0,0.0,36.0,0
2020-03-01,7978642,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,170.0,0.0,66.0,0
2020-04-01,7978642,6.0,6.0,5.0,6.0,6.0,6.0,6.0,6.0,6.0,...,5.0,5.0,5.0,5.0,5.0,6.0,170.0,0.0,66.0,0
2020-05-01,7978642,20.0,16.0,9.0,17.0,20.0,20.0,20.0,19.0,20.0,...,14.0,14.0,14.0,15.0,14.0,20.0,170.0,0.0,66.0,0
2020-06-01,7978642,55.0,44.0,28.0,51.0,52.0,55.0,54.0,54.0,55.0,...,38.0,35.0,38.0,38.0,38.0,55.0,174.0,0.0,10.0,0
2020-07-01,7978642,93.0,92.0,38.0,88.0,82.0,93.0,93.0,91.0,93.0,...,76.0,73.0,73.0,73.0,74.0,92.0,179.0,15.0,15.0,1
2020-08-01,7978642,83.0,83.0,48.0,73.0,73.0,83.0,83.0,80.0,83.0,...,55.0,55.0,54.0,52.0,52.0,83.0,179.0,15.0,15.0,1
2020-09-01,7978642,57.0,55.0,30.0,49.0,45.0,57.0,57.0,56.0,57.0,...,38.0,38.0,38.0,36.0,38.0,57.0,174.0,15.0,20.0,1
2020-10-01,7978642,34.0,33.0,20.0,33.0,32.0,34.0,34.0,34.0,34.0,...,22.0,22.0,22.0,21.0,22.0,34.0,174.0,15.0,20.0,0
2020-11-01,7978642,29.0,28.0,14.0,19.0,20.0,28.0,29.0,24.0,29.0,...,11.0,12.0,11.0,11.0,13.0,29.0,174.0,15.0,20.0,0
2020-12-01,7978642,42.0,40.0,13.0,21.0,22.0,41.0,42.0,37.0,42.0,...,16.0,18.0,16.0,17.0,16.0,42.0,174.0,15.0,20.0,0
2021-01-01,7978642,46.0,44.0,4.0,18.0,17.0,46.0,46.0,39.0,46.0,...,18.0,18.0,16.0,17.0,17.0,46.0,174.0,15.0,20.0,0
2021-02-01,7978642,57.0,57.0,11.0,31.0,30.0,56.0,57.0,53.0,57.0,...,25.0,26.0,25.0,25.0,27.0,57.0,174.0,15.0,20.0,0
2021-03-01,7978642,136.0,137.0,12.0,86.0,83.0,135.0,133.0,122.0,136.0,...,57.0,59.0,57.0,61.0,58.0,136.0,174.0,15.0,20.0,0
2021-04-01,7978642,119.0,116.0,0.0,97.0,97.0,118.0,118.0,109.0,119.0,...,65.0,64.0,65.0,69.0,67.0,119.0,174.0,15.0,20.0,0
2021-05-01,7978642,80.0,76.0,0.0,62.0,62.0,79.0,77.0,69.0,79.0,...,33.0,33.0,36.0,39.0,36.0,80.0,174.0,15.0,20.0,0
2021-06-01,7978642,60.0,55.0,0.0,45.0,44.0,60.0,57.0,53.0,59.0,...,27.0,26.0,28.0,28.0,29.0,60.0,174.0,15.0,20.0,0
2021-07-01,7978642,44.0,41.0,0.0,26.0,26.0,44.0,44.0,41.0,44.0,...,18.0,18.0,18.0,19.0,19.0,44.0,174.0,15.0,20.0,1
2021-08-01,7978642,34.0,30.0,0.0,20.0,20.0,34.0,34.0,32.0,34.0,...,19.0,20.0,20.0,21.0,20.0,34.0,174.0,15.0,20.0,1
2021-09-01,7978642,30.0,30.0,0.0,24.0,24.0,30.0,30.0,27.0,30.0,...,19.0,20.0,19.0,19.0,19.0,30.0,174.0,15.0,20.0,1
2021-10-01,7978642,22.0,20.0,0.0,14.0,14.0,22.0,22.0,20.0,22.0,...,9.0,9.0,8.0,8.0,9.0,22.0,147.0,15.0,35.0,0
2021-11-01,7978642,11.0,9.0,0.0,10.0,10.0,11.0,10.0,5.0,11.0,...,3.0,3.0,3.0,4.0,3.0,11.0,147.0,15.0,35.0,0
2021-12-01,7978642,14.0,12.0,0.0,10.0,10.0,14.0,13.0,9.0,14.0,...,2.0,2.0,3.0,3.0,1.0,14.0,147.0,30.0,35.0,0
2022-01-01,7978642,29.0,31.0,0.0,12.0,12.0,29.0,29.0,26.0,29.0,...,7.0,7.0,9.0,7.0,8.0,29.0,147.0,30.0,35.0,0
2022-02-01,7978642,33.0,29.0,0.0,24.0,24.0,33.0,33.0,29.0,33.0,...,17.0,16.0,17.0,16.0,18.0,33.0,148.0,30.0,36.0,0
2022-03-01,7978642,8.0,8.0,0.0,7.0,7.0,8.0,8.0,5.0,8.0,...,1.0,1.0,2.0,1.0,1.0,8.0,148.0,30.0,36.0,0
2022-04-01,7978642,3.0,2.0,0.0,2.0,2.0,3.0,3.0,2.0,3.0,...,0.0,0.0,0.0,0.0,0.0,3.0,153.0,30.0,50.0,0
2022-05-01,7978642,6.0,5.0,0.0,6.0,5.0,6.0,6.0,6.0,6.0,...,5.0,5.0,5.0,5.0,5.0,6.0,153.0,30.0,50.0,0
2022-06-01,7978642,19.0,18.0,0.0,19.0,18.0,19.0,19.0,16.0,19.0,...,14.0,13.0,13.0,13.0,14.0,19.0,153.0,30.0,50.0,0
2022-07-01,7978642,8.0,8.0,0.0,8.0,8.0,8.0,8.0,6.0,8.0,...,6.0,5.0,5.0,5.0,6.0,8.0,153.0,30.0,50.0,1
2022-08-01,7978642,1.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,153.0,30.0,50.0,1
2022-09-01,7978642,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,153.0,40.0,50.0,1
2022-10-01,7978642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,153.0,40.0,50.0,0
2022-11-01,7978642,3.0,3.0,0.0,3.0,3.0,3.0,3.0,3.0,3.0,...,2.0,2.0,2.0,2.0,2.0,3.0,153.0,40.0,50.0,0
2022-12-01,7978642,17.0,19.0,0.0,16.0,16.0,16.0,17.0,16.0,17.0,...,13.0,13.0,14.0,14.0,14.0,17.0,153.0,40.0,50.0,0
2023-01-01,7978642,4.0,3.0,0.0,4.0,4.0,4.0,4.0,4.0,4.0,...,3.0,3.0,3.0,3.0,3.0,4.0,153.0,40.0,50.0,0
2023-02-01,7978642,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,153.0,40.0,50.0,0
2023-03-01,7978642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,154.0,40.0,50.0,0
2023-04-01,7978642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,154.0,40.0,50.0,0

In [ ]:
px.line(resultados_filtrados[['HOSPITAL', 'UTI', 'LEITOS_EXISTENTES']])

## Forecast

In [ ]:
cnes = brasilia_data.groupby('CNES').CNES.count().sort_values(ascending=False)
cnes = cnes.loc[lambda x : x >= 18] # Filter the series with at least 12 months long]
cnes

CNES
101826     52
471755     52
5310350    52
5253381    52
5200105    52
           ..
2393565    52
2389746    52
2383926    52
2383462    52
996068     52
Name: CNES, Length: 308, dtype: int64

### SARIMA (deu bom n)

In [ ]:
from darts import TimeSeries
from darts.dataprocessing.transformers import Scaler
from darts.models.forecasting.sf_auto_arima import StatsForecastAutoARIMA
from dateutil.relativedelta import relativedelta

scaler = Scaler()
mf = StatsForecastAutoARIMA(season_length=12, **{'seasonal': True})

WARNING:darts.models:Support for Torch based models not available. To enable them, install "darts", "u8darts[torch]" or "u8darts[all]" (with pip); or "u8darts-torch" or "u8darts-all" (with conda).

In [ ]:
# TODO: ADD coluna inverno no mês para variaveis exogenas e também feriados (influencia ??)

In [ ]:
results_df = []
errors = []
horizon = 6 # forecast

for unidade in cnes.index:
  try:
    print(f'\nCNES: {unidade}')
    df_group = brasilia_data[brasilia_data.CNES == unidade]
    df_temp = df_group.copy()

    df_temp.drop(['CNES'],axis=1, inplace=True)

    # limitate the extension to 1 year
    mindate = df_temp.reset_index()['date'].min()
    df_temp = df_temp[df_temp.index >= mindate+relativedelta(months=-12)]
    df_temp = TimeSeries.from_dataframe(df_temp)

    cov_df = TimeSeries.from_dataframe(covariables).add_datetime_attribute(attribute='year').add_datetime_attribute(attribute='month')

    mf.fit(df_temp.strip(), future_covariates=cov_df)

    hist = mf.historical_forecasts(df_temp.strip(), future_covariates=cov_df, forecast_horizon=horizon, start=0.6, num_samples=500, verbose=False)

    forecast = mf.predict(horizon, future_covariates=cov_df, num_samples=500)


  except Exception as e:
    errors.append((unidade, e))

CNES: 10456

CNES: 2645157

CNES: 2649527

CNES: 2672197

CNES: 2673916

CNES: 6876617

CNES: 2814897

CNES: 2815966

CNES: 6730914

CNES: 3013162

CNES: 3018520

CNES: 3019616

CNES: 6362729

CNES: 3048551

CNES: 10464

CNES: 3276678

CNES: 6243495

CNES: 5831628

CNES: 5717515

CNES: 5085047

CNES: 2649497

CNES: 5027438

CNES: 9699848

CNES: 10502

CNES: 10510

CNES: 10529

CNES: 10537

CNES: 10545

CNES: 10618

CNES: 10480

CNES: 10499

CNES: 9040021

CNES: 7981457

CNES: 7978642

CNES: 10472

CNES: 9727353

CNES: 3019608

CNES: 3000974

CNES: 6921434

CNES: 7978243

CNES: 3005402

CNES: 3025020

CNES: 3030121

CNES: 9551948

CNES: 5796423

CNES: 7242441

CNES: 9307524

CNES: 7344538

CNES: 9748202

CNES: 3055450

CNES: 9928553

CNES: 9914234

CNES: 7477090

CNES: 7865791

CNES: 7907958

CNES: 49867

CNES: 10561

CNES: 7897634

CNES: 5927579

CNES: 7766777

CNES: 185256

CNES: 223441

CNES: 9052682

CNES: 7161158

CNES: 552216

CNES: 797146

CNES: 3035379

CNES: 252492

CNES: 9501223

CNES: 2866161

CNES: 3839206

CNES: 766216

CNES: 2779366

In [ ]:
fdf = pd.concat(results_df)

### Prophet

In [ ]:
from prophet import Prophet
from prophet.diagnostics import cross_validation
from prophet.diagnostics import performance_metrics
from prophet.plot import plot_cross_validation_metric

In [ ]:
covariables = brasilia_data.copy()[[col for col in brasilia_data.columns if col != "HOSPITAL"]].sort_values('date')
covariables

,CNES,UTI,SURTO_SG,NOSOCOMIAL,AVE_SUINO,FEBRE,TOSSE,GARGANTA,DISPNEIA,DESC_RESP,...,PNEUMOPATI,IMUNODEPRE,RENAL,OBESIDADE,OUT_MORBI,SUPORT_VEN,LEITOS_EXISTENTES,UTI_TOTAL_SUS,UTI_TOTAL_EXIST,inverno
date,,,,,,,,,,,,,,,,,,,,,
2019-01-01,5882451,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2019-01-01,3450198,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2019-01-01,49867,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2019-01-01,10464,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,357.0,16.0,16.0,0
2019-01-01,8003629,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-01,2396998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2023-04-01,5882451,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2023-04-01,6854729,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2023-04-01,2611686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2023-04-01,9727353,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,69.0,0.0,20.0,0

In [ ]:
results = []
errors = []

for unidade in cnes.index:
  print(f'\nCNES: {unidade}')
  df_group = brasilia_data[brasilia_data.CNES == unidade]
  df_temp = df_group.copy()

  print(df_temp.head(5))

  break

CNES: 101826
              CNES  HOSPITAL  UTI  SURTO_SG  NOSOCOMIAL  AVE_SUINO  FEBRE  \
date
2019-03-01  101826       0.0  0.0       0.0         0.0        0.0    0.0
2022-04-01  101826       0.0  0.0       0.0         0.0        0.0    0.0
2021-04-01  101826       0.0  0.0       0.0         0.0        0.0    0.0
2022-09-01  101826       0.0  0.0       0.0         0.0        0.0    0.0
2022-08-01  101826       0.0  0.0       0.0         0.0        0.0    0.0

            TOSSE  GARGANTA  DISPNEIA  ...  PNEUMOPATI  IMUNODEPRE  RENAL  \
date                                   ...
2019-03-01    0.0       0.0       0.0  ...         0.0         0.0    0.0
2022-04-01    0.0       0.0       0.0  ...         0.0         0.0    0.0
2021-04-01    0.0       0.0       0.0  ...         0.0         0.0    0.0
2022-09-01    0.0       0.0       0.0  ...         0.0         0.0    0.0
2022-08-01    0.0       0.0       0.0  ...         0.0         0.0    0.0

            OBESIDADE  OUT_MORBI  SUPORT_VEN  LEITOS_EXISTENTES  \
date
2019-03-01        0.0        0.0         0.0                0.0
2022-04-01        0.0        0.0         0.0                0.0
2021-04-01        0.0        0.0         0.0                0.0
2022-09-01        0.0        0.0         0.0                0.0
2022-08-01        0.0        0.0         0.0                0.0

            UTI_TOTAL_SUS  UTI_TOTAL_EXIST  inverno
date
2019-03-01            0.0              0.0        0
2022-04-01            0.0              0.0        0
2021-04-01            0.0              0.0        0
2022-09-01            0.0              0.0        1
2022-08-01            0.0              0.0        1

[5 rows x 34 columns]

## DF Data

In [ ]:
import os

In [ ]:
file_names = ["transferir.csv"] + [f"transferir ({i}).csv" for i in range(1, 12)]
dataframes = []
for i, f in enumerate(file_names):
  df = spark.read.csv(f, header=True, inferSchema=True).withColumn("Month", lit(i+1))
  dataframes.append(df)

merged_df = dataframes[0]
for df in dataframes[1:]:
    merged_df = merged_df.union(df)

pandas_df = merged_df.toPandas()

output_csv_path = "2020_DF_Data.csv"
pandas_df.to_csv(output_csv_path, index=False)

In [ ]:
df = spark.read.csv("2020_DF_Data.csv", header=True, inferSchema=True).filter((col('i_desc_uf_res') == 'DF') & (col('i_mes_compt') >= 3))

In [ ]:
all_years_df = spark.read.csv("DF_DATA_ALL.csv", header=True, inferSchema=True).filter((col('i_desc_uf_res') == 'DF'))

In [ ]:
corona_df = df.filter(df.i_desc_proc_realizado == 'TRATAMENTO DE INFECÇÃO PELO CORONAVIRUS – COVID 19')\
.union(all_years_df.filter(all_years_df.i_desc_proc_realizado == 'TRATAMENTO DE INFECÇÃO PELO CORONAVIRUS – COVID 19'))

In [ ]:
corona_df.createOrReplaceTempView("corona_data")

In [ ]:
corona_df.orderBy('i_ano_compt', ascending=False).show()

+-----------+---------------+-----------+--------------------+--------------------+-------------------+------------------+--------------------+----------------+------------+---------------------+----------------+--------------------+-----------+-----------------------+--------------------+-------------+------------+--------------+-----------+--------+----------------+---------+----------------+----------------+-----------+-------+-----+
|i_ano_compt|i_cid_principal|i_cirurgias|i_desc_car_int_atend|i_desc_cid_principal|i_desc_complex_proc|i_desc_espec_leito|        i_desc_grupo|i_desc_munic_res|i_desc_obito|i_desc_proc_realizado| i_desc_radf_res| i_desc_regiao_saude|i_desc_sexo|i_desc_sigla_estab_cnes|  i_desc_tipo_financ|i_desc_uf_res|i_estab_cnes|i_faixa_etaria|i_mes_compt|i_partos|i_proc_realizado|i_qtd_aih|i_qtd_diaria_pac|i_qtd_diaria_uti|i_valor_aih|     id|Month|
+-----------+---------------+-----------+--------------------+--------------------+-------------------+------------------+--------------------+----------------+------------+---------------------+----------------+--------------------+-----------+-----------------------+--------------------+-------------+------------+--------------+-----------+--------+----------------+---------+----------------+----------------+-----------+-------+-----+
|       2022|           B342|       NULL|            Urgência|Infecção por coro...| Média complexidade|           Clínico|03 - Procedimento...|        BRASÍLIA|   Sem óbito| TRATAMENTO DE INF...|     Santa Maria|Contratado/Creden...|   Feminino|                    HUB|Média e Alta Comp...|           DF|       10510|    50_54_anos|          3|    NULL|       303010223|        1|              16|               0|    1843.95| 987007|    3|
|       2022|           B342|       NULL|            Urgência|Infecção por coro...| Média complexidade|           Clínico|03 - Procedimento...|        BRASÍLIA|   Sem óbito| TRATAMENTO DE INF...|       Samambaia|Contratado/Creden...|   Feminino|   Hosp. Daher Lago Sul|Média e Alta Comp...|           DF|     7978642|    65_69_anos|          9|    NULL|       303010223|        1|               1|               9|     6900.0|1096837|   21|
|       2022|           B342|       NULL|            Urgência|Infecção por coro...| Média complexidade|           Clínico|03 - Procedimento...|        BRASÍLIA|   Sem óbito| TRATAMENTO DE INF...|    Plano Piloto|Contratado/Creden...|  Masculino|          Hosp Lago Sul|Média e Alta Comp...|           DF|     7978642|    20_24_anos|          3|    NULL|       303010223|        1|               1|               5|    3963.65| 988608|    3|
|       2022|           B342|       NULL|            Urgência|Infecção por coro...| Média complexidade|           Clínico|03 - Procedimento...|        BRASÍLIA|   Sem óbito| TRATAMENTO DE INF...|      Taguatinga|Contratado/Creden...|   Feminino|          Hosp Lago Sul|Média e Alta Comp...|           DF|     7978642|    20_24_anos|          1|    NULL|       303010223|        1|               1|               5|     3893.6| 957556|   26|
|       2022|           B342|       NULL|            Urgência|Infecção por coro...| Média complexidade|           Clínico|03 - Procedimento...|        BRASÍLIA|   Sem óbito| TRATAMENTO DE INF...|      Taguatinga|Contratado/Creden...|  Masculino|                    HUB|Média e Alta Comp...|           DF|       10510|    55_59_anos|          3|    NULL|       303010223|        1|               4|               0|    1933.82| 987008|    3|
|       2022|           B342|       NULL|            Urgência|Infecção por coro...| Média complexidade|           Clínico|03 - Procedimento...|        BRASÍLIA|   Sem óbito| TRATAMENTO DE INF...|            NULL|        Região Oeste|   Feminino|                    HRC|Média e Alta Comp...|           DF|       10480|     80_+_anos|          8|    NULL|       303010223|        1|              13|               0|    1835.22|1092435|   24|
|       2022|           B342|       NULL|            Urgência|Infecção por coro...| Média complexidade|           Clínico|03 - Procedimento...|        BRASÍLIA|   Sem óbito| TRATAMENTO DE INF...|Recanto das Emas|Contratado/Creden...|  Masculino|                    HUB|Média e Alta Comp...|           DF|       10510|    60_64_anos|          3|    NULL|       303010223|        1|              11|               0|    3564.06| 987010|    3|
|       2022|           B342|       NULL|            Urgência|Infecção por coro...| Média complexidade|           Clínico|03 - Procedimento...|        BRASÍLIA|   Sem óbito| TRATAMENTO DE INF...|       Ceilândia|        Região Oeste|  Masculino|                    HRC|Média e Alta Comp...|           DF|       10480|     80_+_anos|          8|    NULL|       303010223|        1|               7|               0|    1636.41|1094041|   24|
|       2022|           B342|       NULL|            Urgência|Infecção por coro...| Média complexidade|           Clínico|03 - Procedimento...|        BRASÍLIA|   Sem óbito| TRATAMENTO DE INF...|     Santa Maria|Contratado/Creden...|  Masculino|                    HUB|Média e Alta Comp...|           DF|       10510|    60_64_anos|          3|    NULL|       303010223|        1|               4|               0|    2635.63| 987011|    3|
|       2022|           B342|       NULL|            Urgência|Infecção por coro...| Média complexidade|       Pediátricos|03 - Procedimento...|        BRASÍLIA|   Sem óbito| TRATAMENTO DE INF...|       Ceilândia|        Região Oeste|  Masculino|                    HRC|Média e Alta Comp...|           DF|       10480|    01_04_anos|          8|    NULL|       303010223|        1|               5|               0|    1522.04|1094238|   24|
|       2022|           B342|       NULL|            Urgência|Infecção por coro...| Média complexidade|           Clínico|03 - Procedimento...|        BRASÍLIA|   Sem óbito| TRATAMENTO DE INF...|         Paranoá|Contratado/Creden...|   Feminino|                    HUB|Média e Alta Comp...|           DF|       10510|    65_69_anos|          3|    NULL|       303010223|        1|              16|               0|    1835.95| 987012|    3|
|       2022|           B342|       NULL|            Urgência|Infecção por coro...| Média complexidade|           Clínico|03 - Procedimento...|        BRASÍLIA|   Sem óbito| TRATAMENTO DE INF...|           Guará|        Região Oeste|  Masculino|                    HRC|Média e Alta Comp...|           DF|       10480|    35_39_anos|          8|    NULL|       303010223|        1|               5|               0|     1524.2|1095003|   24|
|       2022|           B342|       NULL|            Urgência|Infecção por coro...| Média complexidade|           Clínico|03 - Procedimento...|        BRASÍLIA|   Sem óbito| TRATAMENTO DE INF...|      Planaltina|Contratado/Creden...|   Feminino|                    HUB|Média e Alta Comp...|           DF|       10510|    70_74_anos|          3|    NULL|       303010223|        1|               7|               0|     1556.0| 987014|    3|
|       2022|           B342|       NULL|            Urgência|Infecção por coro...| Média complexidade|           Clínico|03 - Procedimento...|        BRASÍLIA|   Sem óbito| TRATAMENTO DE INF...|      Taguatinga|        Região Oeste|   Feminino|                    HRC|Média e Alta Comp...|           DF|       10480|     80_+_anos|          8|    NULL|       303010223|        1|               4|               0|    1636.41|1113818|   24|
|       2022|           B342|       NULL|            Urgência|Infecção por coro...| Média complexidade|           Clínico|03 - Procedimento...|        BRASÍLIA|   Sem óbito| TRATAMENTO DE INF...|    Águas Claras|Contratado/Creden...|  Masculino|                    HUB|Média e Alta Comp...|           DF|       10510|    70_74_anos|          3|    NULL|       303010223|        1|               4|               0|    1668.41| 987015|    3|
|       2022|           B342|       NULL|            Urgência|Infecção por coro...| Média complexidade|           Clínico|03 - Procedimento...|        BRASÍLIA|   Sem óbito| TRATAMENTO DE INF...|      Lago Norte|     Região Sudoeste|   Feminino|                  HRSam|Média e Alta Comp...|           DF|     2672197|    50_54_anos|          8|    NULL|       303010223|        1|              10|               0|    1712.54|1115534|   24|
|       2022|           B342|       NULL|            Urgência|Infecção por coro...| Média complexidade|           Clínico|03 - Procedimento...|        BRASÍLIA|   Com óbito| TRATAMENTO DE INF...|        Lago Sul|Contratado/Creden...|  Masculino|                    HUB|Média e Alta Comp...|           DF|       10510|     80_+_anos|          3|    NULL|       303010223|        1|              14|               0|    1836.38| 987016|    3|
|       2022|           B342|       NULL|             Eletivo|Infecção por coro...| Média complexidade|           Clínico|03 - Procedimento...|        BRASÍLIA|   Sem óbito| TRATAMENTO DE INF...|Recanto das Emas|Contratado/Creden...|   Feminino|                    HUB|Média e Alta Comp...|           DF|       10510|    55_59_anos|          1|    NULL|       303010223|        1|              12|               0|     1500.0| 956310|   26|
|       2022|           B342|       NULL|            Urgência|Infecção por coro...| Média complexidade|           Clínico|03 - Procedimento...|        BRASÍLIA|   Com óbito| TRATAMENTO DE INF...|  Riacho Fundo I|Contratado/Creden...|   Feminino|       Hosp S Francisco|Média e Alta Comp...|           DF|     3018520|    75_79_anos|          3|    NULL|       303010223|        1|              41|               1|   13463.45| 988248|    3|
|       2022|           B342|       NULL|            Urgência|Infecção por coro...| Média complexidade|           Clínico|03 - Procedimento...|        BRASÍLIA|   Sem óbito| TRATAMENTO DE INF...|       Samambaia|Contratado/Creden...|  Masculino|                    HUB|Média e Alta Comp...|           DF|       10510|    35_39_anos|          1|    NULL|       303010223|        2|              32|               0|    8867.67| 956311|   26|
+-----------+---------------+-----------+--------------------+--------------------+-------------------+------------------+--------------------+----------------+------------+---------------------+----------------+--------------------+-----------+-----------------------+--------------------+-------------+------------+--------------+-----------+--------+----------------+---------+----------------+----------------+-----------+-------+-----+
only showing top 20 rows

In [ ]:
%%sparksql %%sql
create or replace temporary view pacientes_by_ra as
select DATE(CONCAT(i_ano_compt, '-', i_mes_compt, '-01')) AS date, i_desc_radf_res RA,count(*) pacientes
from corona_data
group by 1,2
order by 1

capture dataframe to local variable `%%sql`

In [ ]:
%%sparksql %%sql
SELECT * FROM pacientes_by_ra

capture dataframe to local variable `%%sql`
only showing top 20 row(s)

In [ ]:
%%sparksql %%sql
with corona_att as (
  select *, DATE(CONCAT(i_ano_compt, '-', i_mes_compt, '-01')) AS date
  from corona_data
)

SELECT
    t1.date,
    t1.RA,
    t1.pacientes,
    t1.pacientes / t2.total_pacientes AS proporcao
FROM
    pacientes_by_ra t1
JOIN
    (SELECT date, COUNT(*) total_pacientes
    FROM corona_att
    GROUP BY date) t2
ON t1.date = t2.date
ORDER BY proporcao desc

capture dataframe to local variable `%%sql`
only showing top 20 row(s)

In [ ]:
%%sparksql %%sql
create or replace temporary view proporcao_by_month as
WITH corona_att AS (
  SELECT *, DATE(CONCAT(i_ano_compt, '-', i_mes_compt, '-01')) AS date
  FROM corona_data
),
proporcoes AS (
  SELECT
      t1.date,
      t1.RA,
      t1.pacientes,
      t1.pacientes / t2.total_pacientes AS proporcao
  FROM
      pacientes_by_ra t1
  JOIN
      (SELECT date, COUNT(*) total_pacientes
      FROM corona_att
      GROUP BY date) t2
  ON t1.date = t2.date
)
SELECT
    RA,
    EXTRACT(MONTH FROM date) AS mes,
    AVG(proporcao) AS media_proporcao
FROM proporcoes
where RA is not null
GROUP BY RA, mes
ORDER BY media_proporcao DESC

capture dataframe to local variable `%%sql`

In [ ]:
spark.table('proporcao_by_month').toPandas().to_csv('proporcao_by_month.csv', index=False)